body
    overflow-x: hidden
    position: relative
.card
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-evenly
    width: 326px
    height: 586px
    border-radius: 13px
    background-color: #ffffff
    margin: 0 60px 0 0
    color: #5A2F10
    &:last-child
        margin: 0
    &-imgBlock
        position: relative
        top: 21px
        overflow: hidden
        width: 275px
        height: 275px
        border-radius: 50%
        box-shadow: 5px 3px 10px 0px #9E9B97
        &-img
            width: 100%
            height: 100%
            object-fit: cover
            border-radius: 11px
            transition: transform 0.5s ease-out
            transform: scale(1)
            cursor: pointer
            top: 30px
        &-like
            position: absolute
            right: 10px
            top: 10px
            height: 41px
            width: 41px
            cursor: pointer
        &-name
            top: 25px
            color: #5A2F10
            font-size: 28px
            position: relative
            bottom: 10px
            width: 100%
            height: 40px
            display: flex
            align-items: center
            justify-content: center
            cursor: pointer
            h3
                margin: 0
                padding: 0 10px 
                height: 100%
                display: flex
                align-items: center
                justify-content: center
                background-color: rgba(255, 255, 255, 0.3)
                backdrop-filter: blur(10px)
                border-radius: 11px
                width: auto
    &-info
        position: relative
        top: 0px
        color: #5A2F10
        font-size: 23px
        display: flex
        align-items: center
        justify-content: center
        width: 200px
        height: 30px
        border-radius: 11px
        font-weight: 400px
        //background-color: #f0f0f0b3
        cursor: pointer
        p
            margin: 0
    &-info-age
        position: relative
        top: -15px
        color: #5A2F10
        font-size: 25px
        display: flex
        align-items: center
        justify-content: center
        width: 200px
        height: 30px
        border-radius: 11px
        cursor: pointer
        p
            font-size: 25px
            margin: 0
    &-button
        width: 213px
        height: 56px
        background-color: #FFBD7B
        border-radius: 15px
        font-size: 25px
        display: flex
        flex-direction: row
        align-items: center
        text-align: center
        justify-content: center
        border: 2px solid #351B00
        // top: 100px
    &-infoBlock
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-evenly
        height: 100%
        &-name
            display: flex
            align-items: center
            justify-content: center
            width: 223px
            height: 55px
            background-color: #D9D9D9
            border-radius: 11px
            p
                font-size: 30px
        &-discription
            display: flex
            flex-direction: column
            align-items: center
            justify-content: start
            width: 434px
            height: 485px
            background-color: #c4c4c4
            border-radius: 11px
            .discription
                width: 98%
                font-size: 20px
            p
                font-size: 30px
                margin: 0 0 20px 0
        &-btn
            display: flex
            align-items: center
            justify-content: center
            width: 223px
            height: 55px
            background-color: #E5AA6F
            border-radius: 11px
            cursor: pointer
            
            &:active
                outline: 3px solid #5A2F10
            &:hover
                background-color: #f1bc86
            p
                font-size: 30px
            

        


.opened-card
    width: 510px
    height: 619px

.open-card
    position: sticky
    top: 5vh
    left: var(--cardpad)
    display: flex
    flex-direction: row
    align-items: center
    background-color: #ffffff
    border-radius: 11px
    width: 1025px
    height: 647px
    z-index: 1001
    color: #945B22

.black-bg
    top: 0
    left: 0
    position: fixed
    width: var(--cardblackbgwidth)
    height: var(--cardblackbgheight)
    background-color: #00000044
    z-index: 1000

.card-open-cat
    width: 503px
    height: 647px
    border-radius: 0 11px 0 0
    margin: 0 30px 0 0
    padding: 0
.oc-zag
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    font-size: 20px
.kotkoshka
    margin: 0
    color: #FFC07E
    font-size: 25px
.kotname
    margin: -8px 0 0 0
    font-size: 45px
.charact_cat
    display: flex
    flex-direction: column
.description_cat
    width: 440px
    height: 290px
    overflow-y: auto
    &::-webkit-scrollbar
        width: 6px // Ширина скроллбара
        padding: 0 5px 0 0

    &::-webkit-scrollbar-thumb
        background-color: #F3CBA5 // Цвет ползунка
        border-radius: 4px // Закругление углов

    &::-webkit-scrollbar-track
        background: #FFFFFF // Цвет фона скроллбара
        border-radius: 11px
.pol
    height: 6px
    width: 436px
    background-color: #FFF5EA
    margin: -12px 0 0 0
    &-s1
        height: 6px
        width: 436px
        margin: -12px 0 0 0
        background-color: #FFF5EA
    &-s2
        height: 6px
        width: 436px
        margin: -12px 0 0 0
        background-color: #FFF2E4
    &-s3
        height: 6px
        width: 436px
        margin: -12px 0 0 0
        background-color: #FFEDDB
    &-s4
        height: 6px
        width: 436px
        margin: -12px 0 0 0
        background-color: #FFE7CE
.oc-right
    font-size: 20px
    height: 564px
    margin: -50px 0 0 0
    display: flex
    flex-direction: column
    justify-content: center
    margin: -30px 0 0 0
.oc-zag-polos
    display: flex
    flex-direction: row
    margin: -12px 0 0 0 
.polos1
    height: 6px
    width: 136px
    background-color: #FFE8D0
.polos2
    height: 6px
    width: 200px
    background-color: #FFE8D0
.polos3
    height: 6px
    width: 100px
    background-color: #FFE8D0
.active
    background-color:#FFC07E
.button-to-saved
    height: 46px
    width: 411px
    border: 3px solid #856A56
    border-radius: 5px 
    display: flex
    align-items: center
    justify-content: center
    font-size: 25px
    margin: 26px 0 8px 0
.button-to-priyutit
    height: 46px
    width: 416px
    background-color: #F3CBA5
    border-radius: 5px 
    display: flex
    align-items: center
    justify-content: center
    font-size: 25px
.buttons-catcard
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center