@font-face
    font-family: 'Inter' 
    src: url("../assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf")
@font-face
    font-family: "Caveat"
    src: url("../assets/fonts/Caveat/Caveat.ttf")

html
    height: 100%

body
    width: 100%
    height: 100%
    background-color: #E9D4C0
    font-family: 'Inter', sans-serif
    font-weight: 400
    margin: 0

main
    padding: 20px 0 0 0
    margin: 0 0 80px 0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    height: auto

#app
    width: 100%
    height: 100%

header
    position: sticky
    top: 0
    width: 100%
    display: flex
    flex-direction: row
    align-items: start
    justify-content: center
    z-index: 3

.background_find
    display: flex
    flex-direction: column
    align-items: center
    width: 1015px
    height: 117px
    background-color: #FFFFFF
    border-radius: 0 0 11px 11px
    z-index: 2

.header_icons
    height: 32px
    width: 176px
    display: flex
    align-items: center
    justify-content: space-between
    

.header_text
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    width: 95%
    height: 30%
    font-size: 14px
    &1
        display: flex
        flex-direction: row
        justify-content: space-between
        width: 350px

.bg_upper
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    width: 97%
    height: 60%

.logo_find
    width: 150px
    height: 70px
.header_text1
    width: 440px
.background_card
    // background-color: #FFFFFF
    width: 1005px
    height: 620px
    display: flex
    align-items: center
    justify-content: center
    &_container
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        height: calc(var(--mainHeight) + 738px)

.background_hello
    width: 1005px
    height: 538px
    border-radius: 20px
    background-color: #EAC0A0
    display: flex
    flex-direction: row
    justify-content: space-between
.cat-hello-img
    width: 520px
    height: 538px
    border-radius: 0 20px 20px 0
.friend-left
    width: 494px
    height: 538px
.friends
    margin: 50px 0 0 10px
    font-size: 80px
    text-align: center
    font-family: VremenaGroteskBook
.friends_s2
    margin: 0 0 15px 0
    text-align: center
    font-family: VremenaGroteskBook
    font-size: 30px
.button-to-find-friend
    margin: 0 0 0 120px
    font-size: 30px
    color: #724318
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    height: 63px
    width: 263px
    background-image: url("../assets/imgs/Rectangle_62.svg")
    border-radius: 20px
.button-down
    margin: 0 0 0 7px
    height: 48px
    weight: 48px
//footer
footer
    display: flex
    align-items: center
    justify-content: center
    
.backgr_footer
    height: 331px 
    width: 100%
    background-image: url("../assets/imgs/catsfooter.svg")
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    color: #ffffff
.p_footer
    font-family: Caveat
    font-size: 70px
    text-align: center
.p_footer p:first-child
    margin-bottom: 1px
.p_footer2
    font-family: Caveat
    font-size: 40px
//привет страница

//профиль
.background_profile
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    width: 1005px
    font-size: 20px
    color: #5A2F10
.background_profile_left
    background-color: #FFFFFF
    height: 648px
    width: 392px
    border-radius: 11px
    display: flex
    flex-direction: column
    align-items: center
    padding: 10px 0 0 0

//профиль слева
.background_profile_left
    background-color: #FFFFFF
    height: 648px
    width: 392px
    border-radius: 11px
    display: flex
    flex-direction: column
    align-items: center
    padding: 10px 0 0 0

.bgr_avatarka
    background-color: #FFC58B
    height: 137px
    width: 137px
    border-radius: 100px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    color: #FFFFFF
    font-size: 50px
    margin: 0 15px 0 0
.p_NS
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
.Name_Subname
    color: #5A2F10
.Name
    font-size: 28px
.Subname
    font-size: 24px
.profile_setup
    display: flex
    flex-direction: row
    align-items: center
    justify-content: start
    width: 96%
    margin: 0 0 15px 0

.bgr_change_pr
    background-color: #FFC58B
    height: 38px
    width: 313px
    border-radius: 11px
    color: #5A2F10
    display: flex
    align-items: center
    justify-content: start
    padding: 0 0 0 10px
    margin: 0 0 10px 0
.bgr_ch_pr_with_rb
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
.rad_but
    padding: 0 7px 7px 0
.rad_but3
    padding: 0 7px 0px 0
.bgr_sobes
    background-color: #FFC58B
    height: 38px
    width: 313px
    border-radius: 11px
    color: #5A2F10
    display: flex
    align-items: center
    justify-content: start
    padding: 0 0 0 10px
    margin: 0 0 10px 0
.bgr_catstopriyut
    background-color: #FFC58B
    height: 38px
    width: 313px
    border-radius: 11px
    color: #5A2F10
    display: flex
    align-items: center
    justify-content: start
    padding: 0 0 0 10px
.meaning
    position: relative
    margin: 0 0 20px 0
    height: 160px
    p
        margin: 0
        padding: 0
.text_mean
    font-size: 19px
    position: absolute
    top: 10px
    left: 20px
    right: 3px
.text_mean_gpt
    width: 100%
    display: flex
    justify-content: end

//профиль справа
.background_profile_right
    position: relative
    background-color: #FFFFFF
    height: 658px
    width: 587px
    border-radius: 11px
    display: flex 
    flex-direction: column
    align-items: center
    justify-content: space-evenly
    .loader
        top: 46%
        left: 46%

.profile_right_container
    display: flex 
    flex-direction: column
    align-items: center
    justify-content: space-evenly
    height: 658px
    width: 587px

.status_sobes
    background-color: #FFC58B
    border-radius: 11px
    height: 50px
    width: 394px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
.bgr_status_sobes
    background-color: #E9D4C0
    border-radius: 11px
    height: 443px
    width: 500px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    p
        margin: 20px 0 24px 0
            
//собес не пройден
.complete_sobes
    background-color: #FFFFFF
    border-radius: 11px
    height: 50px
    width: 342px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    margin: 0 0 15px 0
.pass_an_sobes
    background-color: #FFBE7D
    border-radius: 11px
    height: 50px
    width: 342px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
//успешный собес
.complete_sobes_sucsess
    background-color: #F1FFF2
    color: #144408
    border-radius: 11px
    height: 50px
    width: 394px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    margin: 0 0 15px 0
.pass_an_sobes_sucsess
    background-color: #FFFAF5
    border-radius: 11px
    height: 314px
    width: 394px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center
.pass_text
    width: 367px
    height: 208px
//фейл собес
.complete_sobes_fail
    background-color: #FFF1F1
    color: #440808
    border-radius: 11px
    height: 50px
    width: 394px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    margin: 0 0 15px 0
.pass_an_sobes_fail
    background-color: #FFFAF5
    border-radius: 11px
    height: 314px
    width: 394px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center
//изменение профиля
.custom-input2
    background-color: #FFFAF5
    color: #5A2F10
    border: 1px solid #5A2F10
    padding: 8px
    width: 406px
    height: 40px
    border-radius: 5px
    font-size: 16px

//бронирования в профиле
.cats_armored
    overflow-y: auto
    display: flex
    height: 85%
    width: 98%
    &::-webkit-scrollbar
        width: 6px // Ширина скроллбара
        padding: 0 5px 0 0

    &::-webkit-scrollbar-thumb
        background-color: #ad9782 // Цвет ползунка
        border-radius: 4px // Закругление углов

    &::-webkit-scrollbar-track
        background: #FFFFFF // Цвет фона скроллбара
        border-radius: 11px

.profile-armored-cat
    height: 234px
    width: 545px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    img
        height: 234px
        width: 236px
        border-radius: 11px
        object-fit: cover
    &-right
        width: 261px
        display: flex
        flex-direction: column
        align-items: end
        gap: 18px
        &-header
            height: 34px
            width: 220px
            display: flex
            flex-direction: row
            align-items: center
            justify-content: space-between
        &-description
            height: 177px
            width: 231px
            border-radius: 11px
            background-color: #FFEEE0
            padding: 0 30px
            display: flex
            flex-direction: column
            align-items: center
            button
                all: unset
                background-color: #DFBB9E
                border-radius: 11px
                height: 35px
                width: 198px
                display: flex
                align-items: center
                justify-content: center
                cursor: pointer

.menu-modal-btn
    width: 57px
    height: 34px
    text-align: center
    text-justify: center
    border-radius: 11px
    background-color: #FFEEE0
    cursor: pointer

.menu-modal
    position: absolute
    right: -230px // Выравнивание по правому краю карточки
    top: 40px // Отступ от кнопки "..." вниз
    width: 261px
    height: 76px
    background-color: #FFEAD4
    border-radius: 11px
    display: flex
    flex-direction: column
    cursor: pointer
    p
        padding: 0 0 0 10px
        margin: 0
        width: 249px
        height: 38px
        display: flex
        align-items: center
        justify-content: start
        &:hover
            background-color: #DCC5AC
        &:first-child
            border-radius: 11px 11px 0 0
        &:last-child
            border-radius: 0 0 11px 11px 

            

//коты сданные в приют
.cats1
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
.cats1_photo
    background-color: #E9D4C0
    border-radius: 11px
    height: 206px
    width: 183px
.bgr_status_cat
    background-color: #FFD6AD
    border-radius: 11px
    height: 41px
    width: 183px
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
.bgr_status_cat_success
    background-color: #B7FFAD
    border-radius: 11px
    height: 41px
    width: 183px
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    color: #011D00
//для будущих карточек котов в избранном 
.prizrak
    background-color: #E9D4C0
    height: 270px
    width: 215px
//избранное
.saved_all
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    height: auto
    // font-size: 22px
    .loader
        top: 30%
    .background_card_container
        margin: 20px 0
.saved_cats
    background-color: #ECD0B6
    border: 3px solid #856a56    
    height: 50px
    width: 1005px
    border-radius: 11px
    color: #5A2F10
    display: flex
    align-items: center
    justify-content: center
    padding: 0 0 0 10px
    font-size: 25px
.saved_cats_else
    background-color: #ECD0B6
    border: 3px solid #856a56
    height: 56px
    width: 213px
    border-radius: 6px
    color: #5A2F10
    display: flex
    align-items: center
    justify-content: center
    padding: 0 0 0 0px
    text-align: center
    font-size: 25px
    color: #5A2F10

.saved_cats_if
    height: 71px
    width: 377px
    border-radius: 11px
    color: #5A2F10
    display: flex
    align-items: center
    justify-content: center
    padding: 0 0 0 10px
    text-align: center
    margin: 20px 0 40px 0

.sce_text
    width: 358px 
    font-size: 22px
.bgr_saved_cats
    background-color: #FFFFFF
    height: 321px
    width: 1005px
    border-radius: 11px
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 0 0 10px
.saved_cats_cards
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-evenly
    width: 1000px
//страница прохождения собеседования
.sobesedodanie_all
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-evenly
    height: 594px
    font-size: 22px
.sobesedovanie_text
    background-color: #FFC58B
    height: 55px
    width: 394px
    border-radius: 11px
    color: #5A2F10
    display: flex
    align-items: center
    justify-content: center
    padding: 0 0 0 10px
    margin: 20px 0 20px 0
    font-size: 24px
.sobesedovanie_predict
    background-color: #ffe7cf
    height: 50px
    width: 584px
    color: #4f2609
    border-radius: 11px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    text-align: center
    padding: 0 0 0 0
.bgr_sobesedovanie
    color: #5A2F10
    overflow-y: scroll
    background-color: #FFFFFF
    height: 594px
    width: 1005px
    border-radius: 11px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    padding: 0 0 0 0
    &::-webkit-scrollbar
        width: 6px // Ширина скроллбара
        padding: 0 5px 0 0

    &::-webkit-scrollbar-thumb
        background-color: #ad9782 // Цвет ползунка
        border-radius: 4px // Закругление углов

    &::-webkit-scrollbar-track
        background: #FFFFFF // Цвет фона скроллбара
        border-radius: 11px

.sobesedovanie_anketa_all
    width: 726px
    height: 100%
    .empty
        height: 20px
    

.custom-input3
    background-color: #E9D4C0
    color: #5A2F10
    border: 1px solid #5A2F10
    padding: 8px
    width: 726px
    height: 102px
    border-radius: 5px
    font-size: 16px
.custom-select 
    background-color: #E9D4C0
    color: #5A2F10
    border: 1px solid #5A2F10
    padding: 8px
    border-radius: 5px
    font-size: 16px
    width: 100%
//как помочь
.howtohelp_all
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    font-size: 22px
    color: #5A2F10
.howtohelp_text
    background-color: #FFC58B
    height: 50px
    width: 1005px
    border-radius: 11px
    color: #5A2F10
    display: flex
    align-items: center
    justify-content: center
    padding: 0 0 0 10px
    margin: 0 0 20px 0
.bgr_howtohelp_cats
    background-color: #FFFFFF
    height: 588px
    width: 1005px
    border-radius: 11px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    text-align: center
.bgr_helps
    display: flex
    flex-direction: row
.bgr_help1
    background-color: #E9D4C0
    height: 401px
    width: 429px
    border-radius: 11px
    margin: 0 51px 50px 0
.bgr_help2
    background-color: #E9D4C0
    height: 401px
    width: 429px
    border-radius: 11px
// приют
.priyut_all
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    width: 1005px
.bgr_photo_map
    background-color: #FFFFFF
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    width: 540px
    height: 618px    
    border-radius: 11px
    padding: 20px 0 20px 0
.bgr_info_video
    background-color: #FFFFFF
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    width: 428px
    height: 638px    
    border-radius: 11px
    padding: 10px 0 10px 20px
    color: #5A2F10
    font-size: 20px
    font-weight: bolder
.p1_priyut
    height: 71px
    width: 194px
    text-align: center
.p1_1_priyut
    font-size: 24px
    padding: 0px 0px 0px 0px
.p1_2_priyut
    font-size: 28px
    padding: 0px 0px 0px 0px
.priyut_div1
    height: 34px
    width: 334px
    border-radius: 5px
    background-color: #F8E5D4
.priyut_div2
    height: 34px
    width: 334px
    border-radius: 5px
    background-color: #F8E5D4
.priyut_div3
    height: 164px
    width: 406px
    border-radius: 5px
    background-color: #F8E5D4
.button_to_ad_priyut
    width: 334px
    height: 81px    
    border-radius: 11px
    background-color: #E9D4C0
    font-size: 24px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    padding-left: 10px
    text-align: center
.image_priyut
    background-image: url("../assets/imgs/photo_priyut.svg")
    border-radius: 11px
    height: 313px 
    width: 487px
    display: flex
    align-items: end
    padding: 0 0 10px 0
.bgr_adres
    background-color: #FFEFE0
    border-radius: 11px
    width: 273px
    height: 51px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
.priyut_map
    background-color: #7a4343
    border-radius: 11px
    width: 487px
    height: 270px
    overflow: hidden
    div
        width: 100%
        height: 100%
    a
        width: 100%
        height: 100%
    iframe
        width: 100%
        height: 100%
.div_ph
    background-color: #FFC58B
    border-radius: 11px
    width: 406px
    height: 51px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
.div_adres
    background-color: #FFC58B
    border-radius: 11px
    width: 406px
    height: 51px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
.div_howdobr
    background-color: #FFC58B
    border-radius: 11px
    width: 406px
    height: 51px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
.video
    //background-color: #FFC58B
    border-radius: 11px
    width: 406px
    height: 274px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    video
        width: 100%
        height: 100%
        border-radius: 11px
        &::-webkit-media-controls-panel
            background-color: transparent
            
// сдать кошку в приют
.background_surrender
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    width: 1005px
    font-size: 20px
    color: #5A2F10
.background_surrender_left
    background-color: #FFFFFF
    height: 594px
    width: 530px
    border-radius: 11px
    display: flex
    flex-direction: column
    align-items: center
    padding: 10px 10px 0 0
    justify-content: space-between
.anketa1_all
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    text-align: center
.photo_cat_bgr
    background-color: #FFC58B
    height: 51px
    width: 169px
    border-radius: 11px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
.background_surrender_right
    overflow-y: scroll
    background-color: #FFFFFF
    height: 604px
    width: 448px
    border-radius: 11px
    display: flex
    flex-direction: column
    align-items: start
    justify-content: space-evenly
    padding: 0
    &::-webkit-scrollbar
        width: 6px // Ширина скроллбара
        padding: 0 5px 0 0

    &::-webkit-scrollbar-thumb
        background-color: #ad9782 // Цвет ползунка
        border-radius: 4px // Закругление углов

    &::-webkit-scrollbar-track
        background: #FFFFFF // Цвет фона скроллбара
        border-radius: 11px
.anketa2_all
    width: 406px
    height: 800px
    padding: 0 0 10px 10px
    p
        margin: 20px 0 30px 0
.surrender_zag
    background-color: #FFC58B
    border-radius: 11px
    height: 50px
    width: 487px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
.bgr_status_sobes
    background-color: #E9D4C0
    border-radius: 11px
    height: 443px
    width: 500px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-evenly
//админка
//список пользователей
.rectangle2_user
    background-color: #FFFFFF
    border-radius: 11px
    height: 248px
    width: 876px
    margin: 25px 0px 0px 36px
    display: flex
    flex-direction: row
    align-items: start
    justify-content: space-between
.charact_users
    background-color: #FFFFFF
    border-radius: 11px
    height: 248px
    width: 876px
    // margin: 25px 0px 0px 36px
    display: flex
    flex-direction: column
    align-items: start
    justify-content: space-between
.status_lp_notgoodnotbad
    background-color: #FFEAD4
    border-radius: 11px
    height: 44px
    width: 217px
    color: #5A2F10
.lp_wrapper
//список приютов
.adminbroni_all
    height: 100%
.rectangle1
    background-color: #EBD8C5
    border-radius: 11px
    height: 749px
    width: 948px
.rectangle2
    background-color: #FFFFFF
    border-radius: 11px
    height: 336px
    width: 876px
    margin: 25px 0px 0px 36px
    display: flex
    flex-direction: row
    align-items: start
    justify-content: space-between
.charact_priyut
    background-color: #FFFFFF
    border-radius: 11px
    height: 336px
    width: 876px
    // margin: 25px 0px 0px 36px
    display: flex
    flex-direction: column
    align-items: start
    justify-content: space-between
.lp_wrapper
    position: relative
    display: inline-block

.lp_menu
    background-color: #FFEAD4
    border-radius: 11px
    height: 44px
    width: 57px
    font-size: 22px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    cursor: pointer
    margin: 5px 5px 0 0
    user-select: none

.lp_dropdown
    display: none
    position: absolute
    top: 50px
    right: 0
    background-color: #FFEAD4
    border-radius: 11px
    width: 261px
    height: 149px
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
    z-index: 10
    padding: 10px 0
    flex-direction: column
    justify-content: space-around

.lp_option
    padding: 8px 20px
    cursor: pointer
    transition: background-color 0.2s
    font-size: 16px

.lp_option:hover
    background-color: #DCC5AC
.div_listpriyut1
    display: flex
    flex-direction: row
    justify-content: center
.name_lp
    margin: 8px 0 0 15px
.div_lp1
    background-color: #F4D0AC
    border-radius: 0px 0px 11px 0px
    height: 44px
    width: 269px
    display: flex
    flex-direction: row
    align-items: center
    text-align: center
    justify-content: center
.div_lp2
    background-color: #F4D0AC
    border-radius: 0px 11px 11px 0px
    height: 44px
    width: 269px
    display: flex
    flex-direction: row
    align-items: center
    text-align: center
    justify-content: center
.div_lp3
    background-color: #F4D0AC
    border-radius: 0px 11px 0px 0px
    height: 44px
    width: 269px
    display: flex
    flex-direction: row
    align-items: center
    text-align: center
    justify-content: center
.status_lp_good
    background-color: #CBF8BD
    border-radius: 11px
    height: 44px
    width: 217px
    color: #105A21
.status_lp_bad
    background-color: #F8C3BD
    border-radius: 11px
    height: 44px
    width: 217px
    color: #5A2F10
//привет страница
.hellopage_all
    display: flex
    flex-direction: row
    align-items: center
.hp_left
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    height: 500px
    padding: 50px 0 0 0
    margin: 0 0 80px 300px
.image_cat_hp
    margin: -650px 0 0 0
.steps
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    width: 977px
    padding: 53px 0 0 315px
.hp_all_all
    display: flex
    flex-direction: column
    width: 100%
.hp_all
    display: flex
    flex-direction: column
    width: 100%
.cuties
    background-color: #D3C2B6
    width: 100%
    height: 115px
    margin: -28px 0 0 0
    color: #724318
    font-size: 30px
    overflow: hidden
    display: flex
    align-items: center

.marquee
    width: 100%
    overflow: hidden
    position: relative

.track
    display: flex
    width: fit-content
    animation: scroll-left 20s linear infinite

.repeat
    display: flex
    white-space: nowrap

.word
    margin-right: 68px
@keyframes scroll-left
    0%
        transform: translateX(0)
    100%
        transform: translateX(-50%)
// .text_hp1
//     font-size: 50px
//     width: 591px
//     height: 210px
//     text-align: center
// .text_hp2
//     font-size: 40px
//     width: 515px
//     height: 45px
//     text-align: center
// .button_want_a_cat
//     height: 85px
//     width: 345px
//     background-color: #FFF5EF
//     // border: 2px solid
//     color: #724318
//     font-size: 40px
//     border-radius: 20px
//     text-align: center
.image_cat_hp
    height: 85px
    width: 345px
//кнопка для отправки формы/изменения профиля
.btn
    display: flex
    align-items: center
    justify-content: center
    background-color: #FFC58B
    height: 40px
    width: 140px
    border-radius: 11px
    //padding: 0 5px
    cursor: pointer
    font-size: 24px
    margin: 20px 0 
    &:active
        outline: 3px solid #5A2F10
    &:hover
        background-color: #f6cca2

// анкета справа
.custom-input
    background-color: #E9D4C0
    color: #5A2F10
    border: 1px solid #5A2F10
    padding: 8px
    width: 406px
    height: 40px
    border-radius: 5px
    font-size: 16px
.custom-input::placeholder
    color: #5A2F10
    opacity: 0.7
.custom-radio
    accent-color: #5A2F10
    margin-right: 5px
label
    color: #5A2F10
    font-weight: bold
    display: flex
    align-items: center
    gap: 5px
    margin-bottom: 5px
.radio-label
    color: #5A2F10
    font-weight: 400

//страница админа
//просмотр броней
.adminbroni_all
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    font-size: 22px
    color: #5A2F10
.bgr_adminbroni_cats
    background-color: #FFFFFF
    height: 100%
    width: 1005px
    border-radius: 11px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: start
    text-align: center
    overflow-y: scroll
    .loader
        top: 60%
    &::-webkit-scrollbar
        width: 6px // Ширина скроллбара
        padding: 0 5px 0 0

    &::-webkit-scrollbar-thumb
        background-color: #ad9782 // Цвет ползунка
        border-radius: 4px // Закругление углов

    &::-webkit-scrollbar-track
        background: #FFFFFF // Цвет фона скроллбара
        border-radius: 11px
.text_broni
    font-size: 28px
.search-bar
    display: flex
    align-items: center
    width: 942px
    height: 48px
    background-color: #F4D0AC
    border-radius: 8px
    padding: 10px 
    margin: 23px 0 20px 0

    input
        flex: 1
        border: none
        background: transparent
        outline: none
        font-size: 16px
        padding: 0 10px

    button
        background: none
        border: none
        cursor: pointer
        padding: 0 30px 35px 0

        img
            width: 24px
            height: 24px

.bgr_bronicats
    height: 216px
    width: 945px
    border-radius: 11px
    background-color: #FFEFDF
    display: flex
    flex-direction: row
    align-items: start
    justify-content: start
    margin: 0 0 20px 0
    &-container
        height: auto
        width: auto
.photo_cat
    height: 185px
    width: 152px
    border-radius: 11px
    background-color: #F4D0AC
    margin: 17px 0 17px 25px
    &-img
        width: 100%
        height: 100%
        object-fit: cover
        border-radius: 11px
        transition: transform 0.5s ease-out
        transform: scale(1)
.data_broni
    display: flex
    flex-direction: column
    align-items: start
    justify-content: space-between
.all_bgr_imya
    display: flex
    flex-direction: row
.bgr_imya
    height: 49px
    width: 689px
    border-radius: 11px
    background-color: #ffffff
    margin: 17px 0 0 25px
    text-align: start
    position: relative
.p_imya
    margin: 10px 0 0 5px
.bgr_imya_cat
    height: 38px
    width: 270px
    border-radius: 11px
    background-color: #F4D0AC
    position: absolute
    right: 5px
    top: 5px
.p_imya_cat
    margin: 5px 0 0 10px
.button_krest
    cursor: pointer
    margin: 5px 5px 0 5px
//анимация загрузки (кружок)
.loader
    position: absolute
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    top: 49%
    left: 49%
    img
        animation: load_img 1s infinite
        filter: invert(0.2)

.home
    position: relative
    height: 100vh

@keyframes load_img 
    0%
        transform: rotate(0)
    100%
        transform: rotate(180deg)

//красивые инпуты с анимацией

.input 
    position: relative
    width: 420px
    height: 40px
    display: flex
    align-items: center
    justify-content: center
    .color2
        background-color: #E9D4C0
    &__s
        width: 300px
    &__label 
        position: absolute
        left: 10px
        top: 12px
        padding: 0
        margin: 0
        //background-color: #ffffff
        white-space: nowrap
        transform: translate(0, 0)
        transform-origin: 0 0
        transition: transform 120ms ease-in
        font-size: 16px
        font-family: Roboto
        font-weight: 400
        color: #676767
        margin: 0
        cursor: pointer

    &__img
        position: relative
        width: 24px
        height: 24px
        top: -32px
        left: 384px
        cursor: pointer
        // filter: invert(var(--img))
        &:hover
            animation: 0.3s close_anim

    &__field 
        position: relative
        top: 0 
        left: 0
        display: block
        width: 100%
        padding: 0 0 0 14px
        cursor: pointer
        background-color: #FFFAF5
        color: #5A2F10
        border: 1px solid #5A2F10
        padding: 8px
        width: 406px
        height: 40px
        border-radius: 5px
        font-size: 16px
            
        &__s
            width: 300px
        &:focus
            cursor: text
        &:focus,
        &:not(:placeholder-shown) 
            & + .input__label 
                transform: translate(-0.45rem, -185%) scale(.8)
                color: #5A2F10
    &__date
        width: 362px

input[type='date']::-webkit-calendar-picker-indicator 
    filter: invert(var(--img))


.loginBlock
    position: absolute
    top: 5vh
    left: var(--cardpad)
    display: flex
    flex-direction: column
    align-items: center
    justify-content: start
    background-color: #ffffff
    border-radius: 11px
    width: 625px
    height: auto
    z-index: 1001

.black-bg
    top: 0
    left: 0
    position: absolute
    width: var(--cardblackbgwidth)
    height: var(--cardblackbgheight)
    background-color: #00000044
    z-index: 1000

.choose-logregin
    color: #5a2f108f 
    display: flex
    flex-direction: row
    justify-content: space-evenly
    align-items: center
    width: 400px
    p
        cursor: pointer
        

.loginActive
    color: #5A2F10
    text-decoration: underline

.regin
    display: flex
    flex-direction: column
    align-items: start
    justify-content: space-evenly
    height: 600px
    p
        color: #5A2F10
    .btn
        width: 260px

.login
    display: flex
    flex-direction: column
    align-items: start
    justify-content: space-evenly
    height: 379px
    p
        color: #5A2F10
    .btn
        width: 100px

.z1002
    z-index: 1004

.binded-cat
    z-index: 1005
    position: absolute
    left: var(--padbind)
    top: 25vh
    display: flex
    align-items: center
    justify-content: center
    background-color: #ffffff
    border-radius: 11px
    width: 900px
    height: 250px
    p
        width: 800px
