body {
  width: 100%;
  height: 100%;
  background-color: #E9D4C0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
}

main {
  padding: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: var(--mainHeight);
}

#app {
  width: 100%;
  height: 100%;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  z-index: 3;
}

.background_find {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1015px;
  height: 117px;
  background-color: #FFFFFF;
  border-radius: 0 0 11px 11px;
  z-index: 2;
}

.header_icons {
  height: 32px;
  width: 176px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 30%;
  font-size: 14px;
}
.header_text1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 620px;
}

.bg_upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  height: 60%;
}

.logo_find {
  width: 150px;
  height: 70px;
}

.background_card {
  background-color: #FFFFFF;
  width: 1005px;
  height: 286px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 11px;
  justify-content: space-between;
  padding: 5px;
}
.background_card_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: var(--mainHeight);
}

.background_profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1005px;
  font-size: 20px;
  color: #5A2F10;
}

.background_profile_left {
  background-color: #FFFFFF;
  height: 648px;
  width: 392px;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 0 0;
}

.bgr_avatarka {
  background-color: #FFC58B;
  height: 137px;
  width: 137px;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 50px;
  margin: 0 15px 0 0;
}

.p_NS {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Name_Subname {
  color: #5A2F10;
}

.Name {
  font-size: 28px;
}

.Subname {
  font-size: 24px;
}

.profile_setup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 96%;
  margin: 0 0 15px 0;
}

.bgr_change_pr {
  background-color: #FFC58B;
  height: 38px;
  width: 313px;
  border-radius: 11px;
  color: #5A2F10;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 0 0 10px;
  margin: 0 0 10px 0;
}

.bgr_ch_pr_with_rb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.rad_but {
  padding: 0 7px 7px 0;
}

.rad_but3 {
  padding: 0 7px 0px 0;
}

.bgr_sobes {
  background-color: #FFC58B;
  height: 38px;
  width: 313px;
  border-radius: 11px;
  color: #5A2F10;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 0 0 10px;
  margin: 0 0 10px 0;
}

.bgr_catstopriyut {
  background-color: #FFC58B;
  height: 38px;
  width: 313px;
  border-radius: 11px;
  color: #5A2F10;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 0 0 10px;
}

.meaning {
  position: relative;
  margin: 0 0 20px 0;
  height: 160px;
}
.meaning p {
  margin: 0;
  padding: 0;
}

.text_mean {
  font-size: 19px;
  position: absolute;
  top: 10px;
  left: 20px;
  right: 3px;
}

.text_mean_gpt {
  width: 100%;
  display: flex;
  justify-content: end;
}

.background_profile_right {
  background-color: #FFFFFF;
  height: 658px;
  width: 587px;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.status_sobes {
  background-color: #FFC58B;
  border-radius: 11px;
  height: 50px;
  width: 394px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bgr_status_sobes {
  background-color: #E9D4C0;
  border-radius: 11px;
  height: 443px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.complete_sobes {
  background-color: #FFFFFF;
  border-radius: 11px;
  height: 50px;
  width: 342px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0 15px 0;
}

.pass_an_sobes {
  background-color: #FFBE7D;
  border-radius: 11px;
  height: 50px;
  width: 342px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.complete_sobes_sucsess {
  background-color: #F1FFF2;
  color: #144408;
  border-radius: 11px;
  height: 50px;
  width: 394px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0 15px 0;
}

.pass_an_sobes_sucsess {
  background-color: #FFFAF5;
  border-radius: 11px;
  height: 314px;
  width: 394px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pass_text {
  width: 367px;
  height: 208px;
}

.complete_sobes_fail {
  background-color: #FFF1F1;
  color: #440808;
  border-radius: 11px;
  height: 50px;
  width: 394px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0 15px 0;
}

.pass_an_sobes_fail {
  background-color: #FFFAF5;
  border-radius: 11px;
  height: 314px;
  width: 394px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.prizrak {
  background-color: #E9D4C0;
  height: 270px;
  width: 215px;
}

.saved_all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 484px;
}

.saved_cats {
  background-color: #FFC58B;
  height: 50px;
  width: 1005px;
  border-radius: 11px;
  color: #5A2F10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 10px;
}

.saved_cats_else {
  background-color: #FFC58B;
  height: 71px;
  width: 377px;
  border-radius: 11px;
  color: #5A2F10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 10px;
}

.bgr_saved_cats {
  background-color: #FFFFFF;
  height: 321px;
  width: 1005px;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 10px;
}

.saved_cats_cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 1000px;
}

.contacts_all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1005px;
}

.bgr_photo_map {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 540px;
  height: 618px;
  border-radius: 11px;
  padding: 20px 0 20px 0;
}

.bgr_info_video {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 448px;
  height: 638px;
  border-radius: 11px;
  padding: 10px 0 10px 0;
}

.image_priyut {
  background-image: url("../assets/imgs/photo_priyut.svg");
  border-radius: 11px;
  height: 313px;
  width: 487px;
  display: flex;
  align-items: end;
  padding: 0 0 10px 0;
}

.metro_adres {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.bgr_metro {
  background-color: #FFEFE0;
  border-radius: 11px;
  width: 184px;
  height: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bgr_adres {
  background-color: #FFEFE0;
  border-radius: 11px;
  width: 273px;
  height: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.priyut_map {
  background-color: #7a4343;
  border-radius: 11px;
  width: 487px;
  height: 270px;
}

.div_ph {
  background-color: #FFC58B;
  border-radius: 11px;
  width: 406px;
  height: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.div_adres {
  background-color: #FFC58B;
  border-radius: 11px;
  width: 406px;
  height: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.div_howdobr {
  background-color: #FFC58B;
  border-radius: 11px;
  width: 406px;
  height: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.video {
  background-color: #FFC58B;
  border-radius: 11px;
  width: 406px;
  height: 274px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.loader {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 49%;
  left: 49%;
}
.loader img {
  animation: load_img 1s infinite;
  filter: invert(0.2);
}

@keyframes load_img {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}/*# sourceMappingURL=style.css.map */