@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf");
}
body {
  width: 100%;
  height: 100%;
  background-color: #E9D4C0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
}

main {
  padding: 20px 0 0 0;
  margin: 0 0 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
}

#app {
  width: 100%;
  height: 100%;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  z-index: 3;
}

.background_find {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1015px;
  height: 117px;
  background-color: #FFFFFF;
  border-radius: 0 0 11px 11px;
  z-index: 2;
}

.header_icons {
  height: 32px;
  width: 176px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 30%;
  font-size: 14px;
}
.header_text1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
}

.bg_upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  height: 60%;
}

.logo_find {
  width: 150px;
  height: 70px;
}

.background_card {
  width: 1005px;
  height: 620px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background_card_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(var(--mainHeight) + 738px);
}

.background_hello {
  width: 1005px;
  height: 538px;
  border-radius: 20px;
  background-color: #EAC0A0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cat-hello-img {
  width: 520px;
  height: 538px;
  border-radius: 0 20px 20px 0;
}

.friend-left {
  width: 494px;
  height: 538px;
}

.friends {
  margin: 50px 0 0 10px;
  font-size: 80px;
  text-align: center;
  font-family: VremenaGroteskBook;
}

.friends_s2 {
  margin: 0 0 15px 0;
  text-align: center;
  font-family: VremenaGroteskBook;
  font-size: 30px;
}

.button-to-find-friend {
  margin: 0 0 0 120px;
  font-size: 30px;
  color: #724318;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 63px;
  width: 263px;
  background-image: url("../assets/imgs/Rectangle_62.svg");
  border-radius: 20px;
}

.button-down {
  margin: 0 0 0 7px;
  height: 48px;
  weight: 48px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF1E3;
  color: #793F3F;
}

.bgr_footer {
  height: 435px;
  width: 100%;
  background-color: #FFF1E3;
  color: #793F3F;
}

.elements_footer {
  width: 995px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.upper_piece {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.logo_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 25px 120px 0;
}

.logo_img_footer {
  height: 75px;
  width: 191px;
}

.box_img_footer {
  height: 40px;
  width: 40px;
}

.zag_pol_footer {
  display: flex;
  flex-direction: column;
}

.zag_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 733px;
  padding: 0 0 0 0;
}
.zag_footer p {
  font-size: 32px;
}

.poloska1 {
  background-color: #F6D3B9;
  height: 6px;
  width: 722px;
}

.infos_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 680px;
  align-items: start;
}
.infos_footer p {
  font-size: 20px;
}

.info3_footer a {
  color: #793F3F;
  text-decoration: none;
}
.info3_footer a:hover {
  color: #924f4f;
}

.poloska2 {
  background-color: #D9B296;
  height: 6px;
  width: 981px;
}

.p_bottom_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 970px;
}

.p_bottom_right_footer {
  display: flex;
  flex-direction: row;
}

.background_profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1005px;
  font-size: 20px;
  color: #5A2F10;
}

.background_profile_left {
  background-color: #FFFFFF;
  height: 648px;
  width: 392px;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 0 0;
}

.background_profile_left {
  background-color: #FFFFFF;
  height: 648px;
  width: 392px;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 0 0;
}

.bgr_avatarka {
  background-color: #FFC58B;
  height: 137px;
  width: 137px;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 50px;
  margin: 0 15px 0 0;
}

.p_NS {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Name_Subname {
  color: #5A2F10;
}

.Name {
  font-size: 28px;
}

.Subname {
  font-size: 24px;
}

.profile_setup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 96%;
  margin: 0 0 15px 0;
}

.bgr_change_pr {
  background-color: #FFC58B;
  height: 38px;
  width: 313px;
  border-radius: 11px;
  color: #5A2F10;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 0 0 10px;
  margin: 0 0 10px 0;
}

.bgr_ch_pr_with_rb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.rad_but {
  padding: 0 7px 7px 0;
}

.rad_but3 {
  padding: 0 7px 0px 0;
}

.bgr_sobes {
  background-color: #FFC58B;
  height: 38px;
  width: 313px;
  border-radius: 11px;
  color: #5A2F10;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 0 0 10px;
  margin: 0 0 10px 0;
}

.bgr_catstopriyut {
  background-color: #FFC58B;
  height: 38px;
  width: 313px;
  border-radius: 11px;
  color: #5A2F10;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 0 0 10px;
}

.meaning {
  position: relative;
  margin: 0 0 20px 0;
  height: 160px;
}
.meaning p {
  margin: 0;
  padding: 0;
}

.text_mean {
  font-size: 19px;
  position: absolute;
  top: 10px;
  left: 20px;
  right: 3px;
}

.text_mean_gpt {
  width: 100%;
  display: flex;
  justify-content: end;
}

.background_profile_right {
  position: relative;
  background-color: #FFFFFF;
  height: 658px;
  width: 587px;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.background_profile_right .loader {
  top: 46%;
  left: 46%;
}

.profile_right_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 658px;
  width: 587px;
}

.status_sobes {
  background-color: #FFC58B;
  border-radius: 11px;
  height: 50px;
  width: 394px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bgr_status_sobes {
  background-color: #E9D4C0;
  border-radius: 11px;
  height: 443px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bgr_status_sobes p {
  margin: 20px 0 24px 0;
}

.complete_sobes {
  background-color: #FFFFFF;
  border-radius: 11px;
  height: 50px;
  width: 342px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0 15px 0;
}

.pass_an_sobes {
  background-color: #FFBE7D;
  border-radius: 11px;
  height: 50px;
  width: 342px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.complete_sobes_sucsess {
  background-color: #F1FFF2;
  color: #144408;
  border-radius: 11px;
  height: 50px;
  width: 394px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0 15px 0;
}

.pass_an_sobes_sucsess {
  background-color: #FFFAF5;
  border-radius: 11px;
  height: 314px;
  width: 394px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pass_text {
  width: 367px;
  height: 208px;
}

.complete_sobes_fail {
  background-color: #FFF1F1;
  color: #440808;
  border-radius: 11px;
  height: 50px;
  width: 394px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0 15px 0;
}

.pass_an_sobes_fail {
  background-color: #FFFAF5;
  border-radius: 11px;
  height: 314px;
  width: 394px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.custom-input2 {
  background-color: #FFFAF5;
  color: #5A2F10;
  border: 1px solid #5A2F10;
  padding: 8px;
  width: 406px;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
}

.cats_armored {
  overflow-y: auto;
  display: flex;
  height: 85%;
  width: 98%;
}
.cats_armored::-webkit-scrollbar {
  width: 6px;
  padding: 0 5px 0 0;
}
.cats_armored::-webkit-scrollbar-thumb {
  background-color: #ad9782;
  border-radius: 4px;
}
.cats_armored::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 11px;
}

.profile-armored-cat {
  height: 234px;
  width: 545px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.profile-armored-cat img {
  height: 234px;
  width: 236px;
  border-radius: 11px;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile-armored-cat-right {
  width: 261px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 18px;
}
.profile-armored-cat-right-header {
  height: 34px;
  width: 220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.profile-armored-cat-right-description {
  height: 177px;
  width: 231px;
  border-radius: 11px;
  background-color: #FFEEE0;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-armored-cat-right-description button {
  all: unset;
  background-color: #DFBB9E;
  border-radius: 11px;
  height: 35px;
  width: 198px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu-modal-btn {
  width: 57px;
  height: 34px;
  text-align: center;
  text-justify: center;
  border-radius: 11px;
  background-color: #FFEEE0;
  cursor: pointer;
}

.menu-modal {
  position: absolute;
  right: -230px;
  top: 40px;
  width: 261px;
  height: 76px;
  background-color: #FFEAD4;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.menu-modal p {
  padding: 0 0 0 10px;
  margin: 0;
  width: 249px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.menu-modal p:hover {
  background-color: #DCC5AC;
}
.menu-modal p:first-child {
  border-radius: 11px 11px 0 0;
}
.menu-modal p:last-child {
  border-radius: 0 0 11px 11px;
}

.cats1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cats1_photo {
  background-color: #E9D4C0;
  border-radius: 11px;
  height: 206px;
  width: 183px;
}

.bgr_status_cat {
  background-color: #FFD6AD;
  border-radius: 11px;
  height: 41px;
  width: 183px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bgr_status_cat_success {
  background-color: #B7FFAD;
  border-radius: 11px;
  height: 41px;
  width: 183px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #011D00;
}

.prizrak {
  background-color: #E9D4C0;
  height: 270px;
  width: 215px;
}

.saved_all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
}
.saved_all .loader {
  top: 30%;
}
.saved_all .background_card_container {
  margin: 20px 0;
}

.saved_cats {
  background-color: #ECD0B6;
  border: 3px solid #856a56;
  height: 50px;
  width: 1005px;
  border-radius: 11px;
  color: #5A2F10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 10px;
  font-size: 25px;
}

.saved_cats_else {
  background-color: #ECD0B6;
  border: 3px solid #856a56;
  height: 56px;
  width: 213px;
  border-radius: 6px;
  color: #5A2F10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 0px;
  text-align: center;
  font-size: 25px;
  color: #5A2F10;
}

.saved_cats_if {
  height: 71px;
  width: 377px;
  border-radius: 11px;
  color: #5A2F10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 10px;
  text-align: center;
  margin: 20px 0 40px 0;
}

.sce_text {
  width: 358px;
  font-size: 22px;
}

.bgr_saved_cats {
  background-color: #FFFFFF;
  height: 321px;
  width: 1005px;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 10px;
}

.saved_cats_cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 1000px;
}

.sobesedodanie_all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 594px;
  font-size: 22px;
}

.sobesedovanie_text {
  background-color: #FFC58B;
  height: 55px;
  width: 394px;
  border-radius: 11px;
  color: #5A2F10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 10px;
  margin: 20px 0 20px 0;
  font-size: 24px;
}

.sobesedovanie_predict {
  background-color: #ffe7cf;
  height: 50px;
  width: 584px;
  color: #4f2609;
  border-radius: 11px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 0 0 0;
}

.bgr_sobesedovanie {
  color: #5A2F10;
  overflow-y: scroll;
  background-color: #FFFFFF;
  height: 594px;
  width: 1005px;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 0;
}
.bgr_sobesedovanie::-webkit-scrollbar {
  width: 6px;
  padding: 0 5px 0 0;
}
.bgr_sobesedovanie::-webkit-scrollbar-thumb {
  background-color: #ad9782;
  border-radius: 4px;
}
.bgr_sobesedovanie::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 11px;
}

.sobesedovanie_anketa_all {
  width: 726px;
  height: 100%;
}
.sobesedovanie_anketa_all .empty {
  height: 20px;
}

.custom-input3 {
  background-color: #E9D4C0;
  color: #5A2F10;
  border: 1px solid #5A2F10;
  padding: 8px;
  width: 726px;
  height: 102px;
  border-radius: 5px;
  font-size: 16px;
}

.custom-select {
  background-color: #E9D4C0;
  color: #5A2F10;
  border: 1px solid #5A2F10;
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.howtohelp_all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  color: #5A2F10;
}

.howtohelp_text {
  background-color: #FFC58B;
  height: 50px;
  width: 1005px;
  border-radius: 11px;
  color: #5A2F10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 10px;
  margin: 0 0 20px 0;
}

.bgr_howtohelp_cats {
  background-color: #FFFFFF;
  height: 588px;
  width: 1005px;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.bgr_helps {
  display: flex;
  flex-direction: row;
}

.bgr_help1 {
  background-color: #E9D4C0;
  height: 401px;
  width: 429px;
  border-radius: 11px;
  margin: 0 51px 50px 0;
}

.bgr_help2 {
  background-color: #E9D4C0;
  height: 401px;
  width: 429px;
  border-radius: 11px;
}

.contacts_all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1005px;
}

.bgr_photo_map {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 540px;
  height: 618px;
  border-radius: 11px;
  padding: 20px 0 20px 0;
}

.bgr_info_video {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 448px;
  height: 638px;
  border-radius: 11px;
  padding: 10px 0 10px 0;
}

.image_priyut {
  background-image: url("../assets/imgs/photo_priyut.svg");
  border-radius: 11px;
  height: 313px;
  width: 487px;
  display: flex;
  align-items: end;
  padding: 0 0 10px 0;
}

.metro_adres {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.bgr_metro {
  background-color: #FFEFE0;
  border-radius: 11px;
  width: 184px;
  height: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bgr_adres {
  background-color: #FFEFE0;
  border-radius: 11px;
  width: 273px;
  height: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.priyut_map {
  background-color: #7a4343;
  border-radius: 11px;
  width: 487px;
  height: 270px;
  overflow: hidden;
}
.priyut_map div {
  width: 100%;
  height: 100%;
}
.priyut_map a {
  width: 100%;
  height: 100%;
}
.priyut_map iframe {
  width: 100%;
  height: 100%;
}

.div_ph {
  background-color: #FFC58B;
  border-radius: 11px;
  width: 406px;
  height: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.div_adres {
  background-color: #FFC58B;
  border-radius: 11px;
  width: 406px;
  height: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.div_howdobr {
  background-color: #FFC58B;
  border-radius: 11px;
  width: 406px;
  height: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.video {
  border-radius: 11px;
  width: 406px;
  height: 274px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.video video {
  width: 100%;
  height: 100%;
  border-radius: 11px;
}
.video video::-webkit-media-controls-panel {
  background-color: transparent;
}

.background_surrender {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1005px;
  font-size: 20px;
  color: #5A2F10;
}

.background_surrender_left {
  background-color: #FFFFFF;
  height: 594px;
  width: 530px;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 0 0;
  justify-content: space-between;
}

.anketa1_all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.photo_cat_bgr {
  background-color: #FFC58B;
  height: 51px;
  width: 169px;
  border-radius: 11px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.background_surrender_right {
  overflow-y: scroll;
  background-color: #FFFFFF;
  height: 604px;
  width: 448px;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  padding: 0;
}
.background_surrender_right::-webkit-scrollbar {
  width: 6px;
  padding: 0 5px 0 0;
}
.background_surrender_right::-webkit-scrollbar-thumb {
  background-color: #ad9782;
  border-radius: 4px;
}
.background_surrender_right::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 11px;
}

.anketa2_all {
  width: 406px;
  height: 800px;
  padding: 0 0 10px 10px;
}
.anketa2_all p {
  margin: 20px 0 30px 0;
}

.surrender_zag {
  background-color: #FFC58B;
  border-radius: 11px;
  height: 50px;
  width: 487px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bgr_status_sobes {
  background-color: #E9D4C0;
  border-radius: 11px;
  height: 443px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFC58B;
  height: 40px;
  width: 140px;
  border-radius: 11px;
  cursor: pointer;
  font-size: 24px;
  margin: 20px 0;
}
.btn:active {
  outline: 3px solid #5A2F10;
}
.btn:hover {
  background-color: #f6cca2;
}

.custom-input {
  background-color: #E9D4C0;
  color: #5A2F10;
  border: 1px solid #5A2F10;
  padding: 8px;
  width: 406px;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
}

.custom-input::-moz-placeholder {
  color: #5A2F10;
  opacity: 0.7;
}

.custom-input::placeholder {
  color: #5A2F10;
  opacity: 0.7;
}

.custom-radio {
  accent-color: #5A2F10;
  margin-right: 5px;
}

label {
  color: #5A2F10;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.radio-label {
  color: #5A2F10;
  font-weight: 400;
}

.adminbroni_all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  color: #5A2F10;
}

.bgr_adminbroni_cats {
  background-color: #FFFFFF;
  height: 588px;
  width: 1005px;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  overflow-y: scroll;
}
.bgr_adminbroni_cats .loader {
  top: 60%;
}
.bgr_adminbroni_cats::-webkit-scrollbar {
  width: 6px;
  padding: 0 5px 0 0;
}
.bgr_adminbroni_cats::-webkit-scrollbar-thumb {
  background-color: #ad9782;
  border-radius: 4px;
}
.bgr_adminbroni_cats::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 11px;
}

.text_broni {
  font-size: 28px;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 942px;
  height: 48px;
  background-color: #F4D0AC;
  border-radius: 8px;
  padding: 10px;
  margin: 23px 0 20px 0;
}
.search-bar input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
  padding: 0 10px;
}
.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 30px 35px 0;
  width: 24px;
  height: 24px;
}
.bgr_bronicats {
  height: 216px;
  width: 945px;
  border-radius: 11px;
  background-color: #FFEFDF;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  margin: 0 0 20px 0;
}
.bgr_bronicats-container {
  height: auto;
  width: auto;
}

.photo_cat {
  height: 185px;
  width: 152px;
  border-radius: 11px;
  background-color: #F4D0AC;
  margin: 17px 0 17px 25px;
}
.photo_cat-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 11px;
  transition: transform 0.5s ease-out;
  transform: scale(1);
}

.data_broni {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.all_bgr_imya {
  display: flex;
  flex-direction: row;
}

.bgr_imya {
  height: 49px;
  width: 689px;
  border-radius: 11px;
  background-color: #ffffff;
  margin: 17px 0 0 25px;
  text-align: start;
  position: relative;
}

.p_imya {
  margin: 10px 0 0 5px;
}

.bgr_imya_cat {
  height: 38px;
  width: 270px;
  border-radius: 11px;
  background-color: #F4D0AC;
  position: absolute;
  right: 5px;
  top: 5px;
}

.p_imya_cat {
  margin: 5px 0 0 10px;
}

.button_krest {
  cursor: pointer;
  margin: 5px 5px 0 5px;
}

.loader {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 49%;
  left: 49%;
}
.loader img {
  animation: load_img 1s infinite;
  filter: invert(0.2);
}

.home {
  position: relative;
  height: 100vh;
}

@keyframes load_img {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
.input {
  position: relative;
  width: 420px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input .color2 {
  background-color: #E9D4C0;
}
.input__s {
  width: 300px;
}
.input__label {
  position: absolute;
  left: 10px;
  top: 12px;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  transition: transform 120ms ease-in;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  color: #676767;
  margin: 0;
  cursor: pointer;
}
.input__img {
  position: relative;
  width: 24px;
  height: 24px;
  top: -32px;
  left: 384px;
  cursor: pointer;
}
.input__img:hover {
  animation: 0.3s close_anim;
}
.input__field {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: 0 0 0 14px;
  cursor: pointer;
  background-color: #FFFAF5;
  color: #5A2F10;
  border: 1px solid #5A2F10;
  padding: 8px;
  width: 406px;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
}
.input__field__s {
  width: 300px;
}
.input__field:focus {
  cursor: text;
}
.input__field:not(:-moz-placeholder-shown) + .input__label {
  transform: translate(-0.45rem, -185%) scale(0.8);
  color: #5A2F10;
}
.input__field:focus + .input__label, .input__field:not(:placeholder-shown) + .input__label {
  transform: translate(-0.45rem, -185%) scale(0.8);
  color: #5A2F10;
}
.input__date {
  width: 362px;
}

input[type=date]::-webkit-calendar-picker-indicator {
  filter: invert(var(--img));
}

.loginBlock {
  position: absolute;
  top: 5vh;
  left: var(--cardpad);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: #ffffff;
  border-radius: 11px;
  width: 625px;
  height: auto;
  z-index: 1001;
}

.black-bg {
  top: 0;
  left: 0;
  position: absolute;
  width: var(--cardblackbgwidth);
  height: var(--cardblackbgheight);
  background-color: rgba(0, 0, 0, 0.2666666667);
  z-index: 1000;
}

.choose-logregin {
  color: rgba(90, 47, 16, 0.5607843137);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
}
.choose-logregin p {
  cursor: pointer;
}

.loginActive {
  color: #5A2F10;
  text-decoration: underline;
}

.regin {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  height: 600px;
}
.regin p {
  color: #5A2F10;
}
.regin .btn {
  width: 260px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  height: 379px;
}
.login p {
  color: #5A2F10;
}
.login .btn {
  width: 100px;
}

.z1002 {
  z-index: 1004;
}

.binded-cat {
  z-index: 1005;
  position: absolute;
  left: var(--padbind);
  top: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 11px;
  width: 900px;
  height: 250px;
}
.binded-cat p {
  width: 800px;
}/*# sourceMappingURL=style.css.map */